@import url(https://fonts.googleapis.com/css?family=Nunito:300,400,500,600,700,800,900);

$containerWidthLg: 100em;
$formPadding: 0.2em;
$formWidthLg: $containerWidthLg - ($formPadding * 2);
$formLineWidthLg: $formWidthLg;
$formGroupWidthLg: ($formLineWidthLg - 0.4em)/3;
$grey: #ececec;

body {
  height: 100%;
  line-height: 1.6;
  font-size: 0.7rem;
  font-weight: 400;
  font-family: 'Nunito', sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  line-height: 1.15;
}

input,
button,
select,
{
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button,
select {
  text-transform: none;
  cursor: pointer
}

select {
  line-height: 1.3;
  color: grey;
}

option {
  color: #999;
  text-align: center
}

input[type=checkbox] {
  box-sizing: border-box;
  padding: 0;
}


.container {
  max-width: $containerWidthLg;
  margin-right: auto;
  margin-left: auto;
  height: 100%;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: $formWidthLg;
  padding: $formPadding;
  align-items: center;
  margin: auto;
  height: 95vh;
}

.formCard {
  border: 1px solid $grey;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.17);
  width: 100%;
  margin: auto;
}

.formCard_header {
  font-size: 20px;
  background-color: azure;
  border-bottom: 1px solid rgba(0, 0, 0, 0.17);
  text-align: center;

}
.formLine {
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 2.5em;
  width:100%
}
.formGroup {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  font-size: 18px;
  width: 22%;
  height: 100%;
}
.formGroup_input {
  display: flex;
  flex-direction: column;
  width: 100%
}

.formGroup_radio {
  width: 10%
}

.textInputLabel {
  padding-right: 10px;
  font-size: .8em;
  text-align: center;
}

.textInput {
  font-size: 18px;
  padding: 0.3em;
  border: 1px solid #ececec;
  border-radius: 5px;
}

.selectInput {
  font-size: 18px;
  padding: 0.3em;
  border: 1px solid #ececec;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  height: 2.24em;
}

.radioInputGroup {
  display: flex;
  justify-content: space-evenly;
}

.inputError {
  font-size: .6em;
  color: red;
  padding-top: 0.2em;
  margin-bottom: -2em;
}

.errorInput {
  border-color: red;
}

.required {
  color: red;
  text-align: left;
}

.selectArrow_img {
  width: .7em;
  height: .7em;
  margin-top: .4em;
  margin-right: .2em;
}

.selectOption {
  margin: .5em;
}

.optionDefault {
  color: grey;
}

.selectedOptions {
  border: 1px solid grey;
  margin: 0.2em;
  padding: .2em;
}

.inputCheckbox {
  padding-top: .4em;
  text-align: center;
}

.groupInputBox {
  padding:  0 $formPadding 0 $formPadding;
  margin: 0 $formPadding 0 $formPadding ;
  border: 1px solid #ececec;
  font-size: 18px;
  color: grey;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.groupInputBox_header{

}
.selectGroup{
  position:relative;
}
.selectDrop{
  position: absolute;
  top: 3.8em;
  width: 100%;
}
.submitBtn{
  font-size: 1.5em;
  background-color: white;
  padding: .3em;
  border: #ececec 1px solid;
  border-radius: 5px;
  color: grey
}
.submitBtn:hover{
  background-color: azure;
  color:black;
}
.submitBtn:focus{
  outline-color: #999999;
}
.submitStatus {
  background-color: #ececec;
  padding: 0.4em;
  margin: 0.5em;
  width:80%;
  font-size: 1.3em;
  display: flex;
  justify-content: space-between;

}
.submitStatus button {
  border: none;
  width: 10%;
  cursor: pointer
}
@media screen and (max-width: 750px) {
  .container {
    margin:0;
  }
  .form{
    width:100%
  }
  .formLine{
    flex-direction: column;
  }
  .formGroup{
    width: 95% !important;
    padding: 1em;

  }
  .textInput{
    width:100% !important;
  }
  .selectDrop{
    position: inherit;
  }

}
@media screen and (min-width: 768px) and (max-width: 1024px)  {
  .form{
    width:100%;
    height: 95vh;
    justify-content: space-evenly;
  }
  .container {
    margin:0;
  }
  .formLine{
    padding-bottom:3.5em;
  }
  .formGroup{
    padding: 1em 0 1em 0;
  }
  .optionDefault{
    font-size: 0.9em;
  }
}


@media (min-width: 992px) {  }





